mixin pre-opportunities()
    section.pre-opportunities
        .container 
            .pre-opportunities-image
                img(src="./static/img/pre-opportunities.png", alt="Pre-opportunities image")
            .pre-opportunities-list
                ul
                    li Конвертируйте документы Росреестра в другие форматы
                    li обменивайтесь с коллегами
                    li подготавливайте отчеты
                    li Упрощайте анализ информации
                    li Храните в надежном месте
                a(href="https://youtu.be/hjAJUt6wtzU" target="_blank") Подробнее о возможностях
        .pre-opportunities-bg
        //-     svg(version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve")
        //-         rect.st3(width="1920" height="1080" style={display:'none', fill:'#FFFFFF'})
        //-         g
        //-             linearGradient(id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="1411.1058" y1="1528.5397" x2="792.7762" y2="457.5613")
        //-                 stop(offset="0" style="stop-color:#0477BD")
        //-                 stop(offset="1" style="stop-color:#27AE60")
        //-             path(class="st0" style={fill:'url(#SVGID_1_)'} d="M1839.2,1079.9h81.8V425.6l-3-7.6c-51.2-128.8-197.2-191.7-326-140.5L44.4,892.7C28.9,898.9,14.5,906.4,1,915 v165L1839.2,1079.9L1839.2,1079.9z")