mixin prices()
    section.prices#prices
        .container
            h2 Цены
            p Начните бесплатно, меняйте условия по необходимости
            .prices-list
                .prices-card
                    h3 Бесплатно
                    div.bonus Один пользователь
                    ul
                        li Неограниченное количество документов в хранилище
                        li Техническая и консультационная поддержка по почте
                        li.inActive Неограниченное количество операций обработки
                        li.inActive Централизованное управление правами пользователей
                        li.inActive Приоритетная техническая и консультационная поддержка по телефону
                    span.price 0 &#8381;
                    span.duration мес/пользователь
                    button.choose Выбрать
                .prices-card
                    h3 Стандарт
                    div.bonus Не более 10 сотрудников в 
                        span.js-toogle-tooltip компании
                            .bonus-tooltip.js-tooltip <span>Компания</span> - группа людей, работающих с сервисом как с единым информационным пространством
                    ul
                        li Неограниченное количество документов в хранилище
                        li Техническая и консультационная поддержка по почте
                        li Неограниченное количество операций обработки
                        li Централизованное управление правами пользователей
                        li.inActive Приоритетная техническая и консультационная поддержка по телефону
                    span.price 100 &#8381;
                    span.duration мес/пользователь
                    button.choose Выбрать
                .prices-card
                    h3 Премиум
                    div.bonus Неограниченное количество сотрудников в компании
                    ul
                        li Неограниченное количество документов в хранилище
                        li Техническая и консультационная поддержка по почте
                        li Неограниченное количество операций обработки
                        li Централизованное управление правами пользователей
                        li Приоритетная техническая и консультационная поддержка по телефону
                        li Лицензия на геоинформационную систему <a href="">geom</a> (для каждого пользователя)
                    span.price 175 &#8381;
                    span.duration мес/пользователь
                    button.choose Выбрать
            p.gray-text * возможно заключение договора с юридическим лицом.
        .prices-bg
            svg(version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve")
              rect.st3(width="1920" height="1080" style={display:'none', fill:'#FFFFFF'})
              g
                  linearGradient(id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="1131.0936" y1="619.8753" x2="559.9288" y2="-369.4113")
                      stop(offset="0" style="stop-color:#0477BD")
                      stop(offset="1" style="stop-color:#27AE60")
                  path(class="st4" style={fill:'url(#SVGID_1_)'} d="M1920,0H0.1v622.3l43.6,97.8c56.7,127.1,205.6,184.1,332.6,127.5L1920,159.3V0z")